.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.idea/*
*.ext3
flickr/*
mdetr_annotations/*
checkpoint/*
requirement_new.txt
requirement_new_step2.txt